allowed_servers:
    - "example.com"
    - "matrix.org"
defaultmailcheckinterval: 30
htmldefault: false
markdownenabledbydefault: true
## one of matrixaccesstoken and matrixuserpassword must be define.
# DO NOT USE THEM BOTH. IF YOU USE BOTH "matrixaccesstoken" WILL BE VALID.
# matrixaccesstoken: "YOUR ACCESS TOKEN"
matrixuserpassword: "YOUR PASSWORD"
matrixserver": "https://YOURHOMESERVER"
matrixuserid: "@userx:YOURHOMESERVER"

log:
  # log level: INFO, WARN, DEBUG, ERROR
  level: INFO

db:
  type: postgresql
	username: USERNAME
	password: PASSWORD
	dbName: DBNAME
	host: HOST_ADDRESS
	port: PORT             # int